@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: Arial, Helvetica, sans-serif;
}

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 0 0% 2.4%;
		--muted: 0 0% 95.7%;
		--muted-foreground: 0 0% 47.1%;
		--card: 0 0% 100%;
		--card-foreground: 0 0% 2.4%;
		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 2.4%;
		--primary: 0 0% 9%;
		--primary-foreground: 0 0% 98%;
		--secondary: 0 0% 95.7%;
		--secondary-foreground: 0 0% 9%;
		--accent: 0 0% 95.7%;
		--accent-foreground: 0 0% 9%;
		--destructive: 0 100% 44.7%;
		--destructive-foreground: 0 0% 98%;
		--input: 0 0% 87.8%;
		--border: 0 0% 87.8%;
		--ring: 0 0% 2.4%;
		--sidebar-background: 0 0% 94.5%;
		--sidebar-foreground: 240 17% 28.8%;
		--sidebar-primary: 240 16.2% 20.6%;
		--sidebar-primary-foreground: 0 0% 94.5%;
		--sidebar-accent: 240 36.4% 91.4%;
		--sidebar-accent-foreground: 240 16.2% 20.6%;
		--sidebar-border: 240 8.2% 83.3%;
		--sidebar-ring: 197 50.4% 76.3%;
		--radius: 0.5rem;
	}
	.dark {
		--background: 0 0% 2.4%;
		--foreground: 0 0% 98%;
		--muted: 0 0% 9%;
		--muted-foreground: 0 0% 62%;
		--card: 0 0% 2.4%;
		--card-foreground: 0 0% 98%;
		--popover: 0 0% 2.4%;
		--popover-foreground: 0 0% 98%;
		--primary: 0 0% 98%;
		--primary-foreground: 0 0% 9%;
		--secondary: 0 0% 9%;
		--secondary-foreground: 0 0% 98%;
		--accent: 0 0% 9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 68.7% 51.2%;
		--destructive-foreground: 0 0% 9%;
		--input: 0 0% 9%;
		--border: 0 0% 9%;
		--ring: 0 0% 100%;
		--sidebar-background: 0 2.4% 8%;
		--sidebar-foreground: 0 0% 94.5%;
		--sidebar-primary: 0 0% 94.5%;
		--sidebar-primary-foreground: 240 16.2% 20.6%;
		--sidebar-accent: 0 1.1% 17.1%;
		--sidebar-accent-foreground: 0 0% 94.5%;
		--sidebar-border: 240 8.2% 83.3%;
		--sidebar-ring: 197 50.4% 76.3%;
		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}
